body {
	margin: 0px;
	overflow: hidden;
	background-image: url('../images/wood_tile.jpg');
	background-repeat: repeat;
}

div {
	background-color: white;
}

.sidebar {
	padding: 1em;
}

#chat_send {
	/*position: absolute;
	bottom: 1em;*/
}